<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JiaoP`s Blogs</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/blog_index.css' %}">
</head>
<body>
<div id="blog_title">
    <a href="../index"><img class="blog_title_icon" src="../../static/imgs/home.png" alt="Home"
                                            title="Home"></a><br/>
    <a href="../lifes/life_index" target="_blank"><img class="blog_title_icon" src="../../static/imgs/life.png"
                                                       alt="Life"
                                                       title="Life"></a><br/>
    <a href="../other/other_index" target="_blank"><img class="blog_title_icon" src="../../static/imgs/others.png"
                                                        alt="Others"
                                                        title="Others"></a>
</div>
<div id="blog_big_tags">
    <img class="blog_title_icon" src="../../static/imgs/android.png" alt="Android" title="Android"><br/>
    <img class="blog_title_icon" src="../../static/imgs/python.png" alt="Python" title="Python"><br/>
    <img class="blog_title_icon" src="../../static/imgs/web.png" alt="Web" title="Web"><br/>
    <img class="blog_title_icon" src="../../static/imgs/linux.png" alt="Linux" title="Linux"><br/>
    <img class="blog_title_icon" src="../../static/imgs/windows.png" alt="Windows" title="Windows">
</div>
<div id="blog_big_tags_list">
    <ol>
        <li>
            <button class="li_big_tags_item">Android Knowledge</button>
            <button class="li_big_tags_item">Android Studio</button>
            <button class="li_big_tags_item">Android Knowledge</button>
            <button class="li_big_tags_item">Android Knowledge</button>
            <button class="li_big_tags_item">Android Knowledge</button>
        </li>
    </ol>
</div>
</body>
</html>