.example {
    padding: 20px;
    color: white;
}

/*设置屏幕样式，以1080为标准，小于判定为移动设备，大于设定为电脑浏览器*/
/*移动设备样式*/
@media only screen and (max-width: 1080px) {

    /*内容布局*/
    #index_content {
        width: 100%;
        margin: 0 auto;
    }

    /*顶布局，搜索布局*/
    #index_search {
        height: 60px;
    }

    /*搜索icon*/
    #index_search_icon {
        width: 40px;
        height: 40px;
    }

    /*搜索输入框*/
    #index_search_input {
        height: 40px;
    }

    /*左边展示内容*/
    #index_left_menu {
        width: 100%;
    }

    /*右边目录内容*/
    #index_right_menu {
        display: none;
    }

}

/*电脑浏览器样式*/
@media only screen and (min-width: 1080px) {

    /*内容布局*/
    #index_content {
        width: 50%;
        margin: 0 auto;
    }

    /*顶布局，搜索布局*/
    #index_search {
        height: 50px;
    }

    /*搜索icon*/
    #index_search_icon {
        width: 30px;
        height: 30px;
    }

    /*搜索输入框*/
    #index_search_input {
        height: 30px;
    }

    /*左边展示内容*/
    #index_left_menu {
        width: 80%;
    }

    /*右边目录内容*/
    #index_right_menu {
        display: block;
        width: 20%;
        float: right;
    }

}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

/*内容布局*/
#index_content {
    height: 100%;
    text-align: center;
}

/*顶布局，搜索布局*/
#index_search {

}

/*搜索icon*/
#index_search_icon {
    margin-right: 20px;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

/*搜索输入框*/
#index_search_input {
    width: 140px;
    margin-right: 20px;
    border: 1px solid #FFFFFF;
    background: #00000000;
    border-radius: 16px;
    color: white;
    outline: none;
    font-size: 12px;
    padding-left: 8px;
    float: right;
    margin-top: 8px;
    display: none;
}

/* 设置输入框提示文字颜色 */
::-webkit-input-placeholder {
    color: #CCCCCC;
}

:-moz-placeholder {
    color: #CCCCCC;
    opacity: 1;
}

::-moz-placeholder {
    color: #CCCCCC;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #CCCCCC;
}

#index_title {
    height: 160px;
    padding-top: 60px;
}

/*菜单选项*/
.index_menu_btn {
    width: 80px;
    height: 40px;
    color: white;
    background: none;
    border: none;
    outline: none;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    cursor: pointer;
}

/*菜单栏线*/
.index_menu_line {
    width: 80px;
    height: 1px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #FFF8DC;
}

/*第二个菜单横线*/
#index_menu_line2 {
    visibility: hidden;
}

/*第三个菜单横线*/
#index_menu_line3 {
    visibility: hidden;
}

/*第四个菜单横线*/
#index_menu_line4 {
    visibility: hidden;
}

/*第五个菜单横线*/
#index_menu_line5 {
    visibility: hidden;
}

/*左边展示内容*/
#index_left_menu {
    background-color: white;
    height: 1000px;
    float: left
}

/*右边目录内容*/
#index_right_menu {
    text-align: left;
    /*background-color: red;*/
}

/*标签icon*/
.index_img_tags {
    margin-left: 30px;
    vertical-align: middle;
}

/*右侧标签*/
.index_btn_tags {
    text-decoration-line: none;
    color: white;
    font-family: 楷体;
    font-size: 16px;
    vertical-align: middle;
}

