<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jiaop_index</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
</head>
<body>
<div id="index_content">
    <span id="index_span_welcome">Welcome to JiaoP`s World</span>
    <br/><br/><br/><br/>
    <span id="index_info">This world has recorded my blog, life and some interesting content. I will try to improve the website and make her more fulfilling.</span>
    <br/><br/><br/><br/><br/><br/>
    <div>
        <a class="index_tags" href="/blogs/blog_index">Blogs</a>
        <a class="index_tags" href="/lifes/life_index">Life</a>
        <a class="index_tags" href="/other/other_index">Others</a>
    </div>
</div>
</body>
</html>